:root {
    /* colores*/
    --bitcoin-orange: #F7931A; /*variable*/
    --soft-orange: #FFe9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #fff;

}
/* MENU HAMBURGUESA */



.Titulo1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    top: 0px;
}

a {
    font-family: "montserrat", sans-serif;
    text-decoration: none;
    color: #fff;
}


#LeyendaAngela { 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    top: 300px;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(./fotos/WhatsApp\ Image\ 2022-06-23\ at\ 4.04.20\ PM.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}


nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.bar-btn {
    font-size: 25px;
    color: black;
    margin-right: 20px;
    cursor: pointer;
    
}


.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(226, 8, 8, 0.35);
    text-align: center;
    transition: all .5s;
}

.nav-menu li {
    display: none;
    line-height: 5px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}


.nav-menu li a.active, .nav-menu li a:hover {
    color: rgb(44, 8, 248);
    transition: .3s;
}

#check {
    display: none;
}

#check:checked ~ .nav-menu {
    height: 100vh;
}


#check:checked ~ .nav-menu li {
    display: block;
}

/****************************/
* { /* selector univesal*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "dm sans", sans-serif;
    color: var(--soft-blue);
    width: auto;
    min-width: 320px;

}

/*header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
   /* height: 100px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;

   
}*/

/*#AngelaMartinezFoto {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(./fotos/WhatsApp\ Image\ 2022-06-23\ at\ 4.04.20\ PM.jpeg); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    top: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
} */

.MasterFoto {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 50vh;
   /* background-image: url(./fotos/orlando/OrlandoMartinezFoto.jpeg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    top: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
}

.MasterLeyenda { 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    /*top: 200px;*/
}

.hijos{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    top: 0px;
}


.SonFoto {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 50vh;
   /* background-image: url(./fotos/orlando/OrlandoMartinezFoto.jpeg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    top: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
    
}


.SonLeyenda { 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    color: #fff;
    /*top: 200px;*/
}





/*scroll___hijos__________________________________________*/

.CarretelHijos {
    display: flex;
    height: 316px;
    overflow-x: scroll; /* asi se hace el srcoll vertical para el horizontal seria (overflow-y: scroll)*/
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    width: auto;
    height: auto;
}

img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}