:root {
    /* colores*/
    --bitcoin-orange: #F7931A; /*variable*/
    --soft-orange: #FFe9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #fff;

}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--soft-blue);
}

* { /* selector univesal*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "dm sans", sans-serif;
    color: var(--soft-blue);
    width: auto;
    min-width: 320px;

}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 100px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
}

.AngelaMartinezFoto {
    position: relative;
    /*width: 100%;*/
    min-width: 320px;
    height: 50vh;
   /* background-image: url(./fotos/orlando/OrlandoMartinezFoto.jpeg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    top: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
}

.AngelaMartinezLeyenda { 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    /*top: 200px;*/
}

.hijos{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    top: 0px;
}


.OrlandoMartinezFoto {
    position: relative;
    width: 100%auto;
    min-width: 320px;
    height: 50vh;
    /*background-image: url(./fotos/orlando/OrlandoMartinezFoto.jpeg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    top: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
}

.OrlandoMartinezLeyenda { 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    /*top: 200px;*/
}

.FerrerMartinezFoto {
    position: relative;
    width: auto;
    min-width: 320px;
    height: 50vh;
    /*background-image: url(./fotos/ferrer/ferrer.JPG);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    top: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
}

.FerrerMartinezLeyenda { 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    /*top: 200px;*/
}


.EliezerJoseMartinezFoto {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 50vh;
   /* background-image: url(./fotos/EliezerTio/EliezerTio.JPG);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    top: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
}

.EliezerJoseMartinezLeyenda { 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    /*top: 250px;*/
}


.EriselGalindezMartinezFoto {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 50vh;
    /*background-image: url(./fotos/Ericel/Ericel.jpg);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    top: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
}

.EriselGalindezMartinezLeyenda { 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    /*top: 250px;*/
}


.ShirleyMartinezFoto {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 50vh;
    /*background-image: url(./fotos/Shirley/Shirley.jpg);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    top: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
}

.ShirleyMartinezLeyenda { 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    /*top: 250px;*/
}

.BelenRojasFoto {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 50vh;
    /*background-image: url(./fotos/BelenRojas/BelenRojas.jpg);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    top: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
}

.BelenRojasLeyenda { 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    /*top: 250px;*/
}

.ZenaidaRojasFoto {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 50vh;
    /*background-image: url(./fotos/Katy/Katy.jpg);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    top: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
}

.ZenaidaRojasLeyenda { 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    /*top: 250px;*/
}

.MirianRojasFoto {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 50vh;
   /* background-image: url(./fotos/MirianRojas/MirianRojas.jpg);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    top: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
}

.MirianRojasLeyenda { 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    /*top: 250px;*/
}


.PedroRojasFoto {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 50vh;
    /*background-image: url(./fotos/PedroRojas/PedroRojas.jpg);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    top: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
}

.PedroRojasLeyenda { 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    /*top: 250px;*/
}


.AngelaRojasFoto {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 50vh;
    /*background-image: url(./fotos/AngelaMami/AngelaMami.jpg);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    top: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
}

.AngelaRojasLeyenda { 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    /*top: 250px;*/
}


.CarmenElenaRojaFoto {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 50vh;
    /*background-image: url(./fotos/AngelaMami/AngelaMami.jpg);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    top: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
}

.CarmenElenaRojasLeyenda { 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    /*top: 250px;*/
}



/*scroll___hijos__________________________________________*/

.CarretelHijos {
    display: flex;
    height: 316px;
    overflow-x: scroll; /* asi se hace el srcoll vertical para el horizontal seria (overflow-y: scroll)*/
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    width: 100%;
    height: auto;
}

img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}
