:root {
    /* colores*/
    --bitcoin-orange: #F7931A; /*variable*/
    --soft-orange: #FFe9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #fff;

}

* { /* selector univesal*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "dm sans", sans-serif;
    color: var(--soft-blue);

}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 100px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
}

.AngelaMartinez {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(./fotos/WhatsApp\ Image\ 2022-06-23\ at\ 4.04.20\ PM.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    top: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.AngelaMartinezLeyenda {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    top: 250px;
}

.hijos{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    top: 0px;
}


.OrlandoMartinez {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(./fotos/orlando/OlandoMartinezFoto.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    top: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.OrlandoMartinezLeyenda { 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    top: 250px;
}

.FerrerMartinez {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(./fotos/ferrer/ferrer.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    top: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.FerrerMartinezLeyenda { 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    top: 250px;
}


.EliezerJoseMartinez {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 70vh;
    background-image: url(./fotos/EliezerTio/EliezerTio.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    top: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    
}

.EliezerJoseMartinezLeyenda { 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 50px;
    text-align: center;
    background: linear-gradient(207.8deg, #d9457f 16.69%, #0084e5 100%);
    border-radius: 15px;
    top: 250px;
}

/*scroll___1__________________________________________*/

/*.main-tables-container {
    display: flex;
    height: 316px;
   /* overflow-x: scroll; /* asi se hace el srcoll vertical para el horizontal seria (overflow-y: scroll)*/
 /*   overscroll-behavior-x: contain;*/
  /*  scroll-snap-type: x proximity;*/

